In [1]:
import pandas as pd

In [3]:
df_online_history = pd.read_csv('UserOnlineHistory.csv')
df_online_history.head()

,historyId,historyUid,userUid,onlineCourseUid,grade,gradeMaxVal,completed,pct
0,1,6156902c-af7b-11eb-9cf0-d040cf4d1583,d215bfdb-4713-41c4-be6e-fad4e563ba3f,c0f44be8-af79-11eb-9cf0-d040cf4d1583,100,100,25/5/2019 17:24:19,1.00
1,2,61563fb4-af7b-11eb-9cf0-d040cf4d1583,bba0fa8a-1d7b-4b7b-ba8a-8ab3e89ba0c7,c0f44954-af79-11eb-9cf0-d040cf4d1583,87,100,8/4/2019 08:24:31,0.87
2,3,6157089a-af7b-11eb-9cf0-d040cf4d1583,f649b20f-5735-4972-bc00-53e73b20ccf1,c0f44ddc-af79-11eb-9cf0-d040cf4d1583,15,50,7/9/2018 04:31:46,0.30
3,4,61569496-af7b-11eb-9cf0-d040cf4d1583,d41fb661-bf7e-4639-a3fb-c55c2a41f0c9,c0f44954-af79-11eb-9cf0-d040cf4d1583,100,100,12/9/2019 03:55:01,1.00
4,5,61572384-af7b-11eb-9cf0-d040cf4d1583,fddac3eb-34ee-4531-a868-fb9f4a755c1f,c0f44ddc-af79-11eb-9cf0-d040cf4d1583,100,100,25/11/2019 19:33:12,1.00

In [4]:
#  MySQL expects the date to be in the format YYYY-MM-DD HH:MM:SS, CSV have dates in the format DD/MM/YYYY HH:MM:SS.

df_online_history['completed'] = pd.to_datetime(df_online_history['completed'], format='%d/%m/%Y %H:%M:%S')

In [6]:
df_online_history.to_csv('UserOnlineHistory_fixed.csv', index=False)